requests
python-dotenv
resend
crate
pymysql
psycopg[binary, pool]
sqlalchemy
sqlalchemy-cratedb
cryptography
flask
gunicorn
geopandas
shapely
pyyaml
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-api
pydantic
boto3